@font-face {
	font-family: 'Handel Gothic';
	src: local('HandelGo'),
		 url('HandelGo.ttf') format('truetype'),
		 url('HandelGo.woff') format('woff');


}

body {
	background-color: #9776b6;
	font-family: 'Handel Gothic';


}

