body {
	background-color: #9776b6;
}

.banner {
	background: #D6C5E0;
	width: 100%;
	height: 250px;
}

.banner__content {
	padding: 16px;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
}

.banner__text {
	flex-grow: 0.5;
	line-height: 1.2;
	font-family: "Comic Sans MS;";
}