@font-face {
	font-family: 'Handel Gothic';
	src: url('HandelGo.ttf') format('truetype'),
		 url('HandelGo.woff') format('woff'),
		 url('HandelGo.eot?') format('embedded-opentype');


}

body {
	background-color: #9776b6;
	font-family: 'Handel Gothic';
	text-decoration: none;
.nav {
	background-color: #8276B5;
	padding-right: 15px; padding-left: 15px;

li {
	display: inline-block;
}

li a{
	font-size: 25px; font-weight: bold; margin-right: 25px;
}

}



}

